* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  background-color: rgb(240, 247, 255);
}
